## .NET ##
*.swp
*.*~
*.db
*.sqlite
*.db-journal
*.DS_Store
Thumbs.db

## User specific files
*.suo
*.user
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Bb]in\Debug/
[Bb]in\Release/

## Visual Studio
.vs/
.vscode/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

## MAUI specific
*.ipa
*.apk
*.aab
*.dsym.zip
*.appxbundle
*.msixbundle
BundleArtifacts/
SigningArchives/

## Rider
.idea/
*.sln.iml

## macOS
.DS_Store
.AppleDouble
.LSOverride

## Windows
[Dd]esktop.ini
$RECYCLE.BIN/

## NuGet
packages/
.nuget/
nuget.exe

## Coverage
coverage.json
coverage.cobertura.xml
*.coverage
*.coveragexml

## SQL Server
*.mdf
*.ldf
*.ndf

## Temp
tmp/
temp/
.fake
